.BookContainer {
  width: 80%;
  height: 8rem;
  margin: 0 auto;
  font-size: 1.75em;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
}

.BookContainer .BookInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.BookGenre {
  opacity: 0.5;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.BookTitle {
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.BookAuthor {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.BookContainer .BookInfo ul {
  list-style: none;
  display: flex;
  gap: 1em;
  padding-top: 1em;
}

.BookContainer .BookInfo ul li {
  padding-right: 1rem;
  border-right: solid 1px #e8e8e8;
}

.BookContainer .BookInfo ul li:nth-child(3) {
  border-right: none;
}

.BookContainer .BookInfo ul li a {
  text-decoration: none;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Oval {
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  border-image-source: linear-gradient(to bottom, #307bbe, var(--dodger-blue));
  border-image-slice: 1;
  transform: rotate(45deg);
}

.BookProgress {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.percentage h1 {
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.percentage p {
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  text-transform: capitalize;
}

.Progress {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Progress .CurrentChapter {
  opacity: 0.5;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Progress .CurrentLesson {
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.btn {
  border-radius: 3px;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  background-color: #0290ff;
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}
